In [1]:
import subprocess
process = subprocess.Popen(['python', 'app.py'])

In [2]:
# createUser('jlm487@georgetown.edu', 'test123*$', '123')

 * Serving Flask app 'app'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5555
Press CTRL+C to quit
 * Restarting with stat
 * Debugger is active!
 * Debugger PIN: 328-181-730

In [5]:
from client import Connect
conn=Connect("jacksonlmakl@gmail.com","test123*$")
df=conn.table("SANDBOX","TEST","ORDERS")

127.0.0.1 - - [07/Sep/2024 17:50:27] "GET /get_table?email=jacksonlmakl@gmail.com&password=test123*$&db=SANDBOX&schema=TEST&tbl=ORDERS&page=1 HTTP/1.1" 200 -

In [6]:
df

,customer_email,customer_name,order_date,order_id,price,product_id,quantity,total
0,None,John Doe,None,1,15.99,1,2,31.98
1,None,Jane Smith,None,2,45.50,2,1,45.50
2,None,Bob Johnson,None,3,10.00,3,5,50.00
3,None,Alice Williams,None,4,25.75,4,3,77.25
4,None,Charlie Brown,None,5,15.99,1,4,63.96